$primary: #80DEEA;
$light: #FAFAFA;
$dark: #212121;
$danger: #d50000;

.start-filter{
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  border: solid 1px $danger;
  padding: 2em;
  
  span.title{
    font-size: 2em;
    border-bottom: solid 1px $dark;
    margin-bottom: 0.5em;
    
  }

  form{
    display: flex;
    justify-content: space-around;
    align-items: center;

    mat-form-field{
      width: 30%;
    }

    button{
      padding: 1em;
      i, span.btn-text{
        font-size: 2em;
        color: $light;
      }
    }
  }

  mat-form-field{
    font-size: 2em;
  }
}