<mat-accordion multi="true">

  <mat-expansion-panel [expanded]="true" class="layout">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Características de la Bódega
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="block">
      <span class="title">Productos Aceptados*</span>
      <div class="row">
        <mat-checkbox *ngFor="let p of parameters.product" [(ngModel)]="p.checked">{{ p.description }}</mat-checkbox>
      </div>
    </div>

    <div class="block">
      <span class="title">Seguridad</span>
      <div class="row">
        <mat-checkbox *ngFor="let p of parameters.security" [(ngModel)]="p.checked">{{ p.description }}</mat-checkbox>
      </div>
    </div>

    <div class="block">
      <span class="title">Certificaciones</span>
      <div class="row">
        <mat-checkbox *ngFor="let p of parameters.certifications" [(ngModel)]="p.checked">{{ p.description }}</mat-checkbox>
      </div>
    </div>

    <div class="block">
      <span class="title">Servicios Agregados</span>
      <div class="row">
        <mat-checkbox *ngFor="let p of parameters.services" [(ngModel)]="p.checked">{{ p.description }}</mat-checkbox>
      </div>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true" class="storage">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Áreas de Almacenamiento
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="content">
      <mat-table #table [dataSource]="storageDataSource">

        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef> Tipo Espacio </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.type | t0tPositionType }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="space">
          <mat-header-cell *matHeaderCellDef> Espacio Disponible </mat-header-cell>
          <mat-cell *matCellDef="let element"> <span>{{ element.amount + ' '}} <span [innerHtml]="getMeasure(element.type)"></span></span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Valor ($) </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.price_per_unit | copCurrency }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="height">
          <mat-header-cell *matHeaderCellDef> Altura Máxima (m) </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.max_height }}m </mat-cell>
        </ng-container>

        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Peso Máximo (Kg) </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.max_weight }}kg </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="btn-delete-wrapper" matTooltip="Eliminar" matTooltipPosition="above" [matTooltipClass]="'tooltip'" (click)="$event.stopPropagation();">
              <button mat-icon-button class="btn-remove" (click)="remove(element.id)">
                  <i class="far fa-trash-alt fa-lg"></i>
              </button>
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="storageColumns"></mat-header-row>
        <mat-row *matRowDef="let rowData; columns: storageColumns"></mat-row>

      </mat-table>

      <div class="block-add">
        <div class="row first">

          <mat-form-field>
            <mat-select placeholder="Tipo de Espacio" [(ngModel)]="newPosition.type">
              <mat-option [value]="PositionType.FLOOR_CLOSED">Piso Cubierto</mat-option>
              <mat-option [value]="PositionType.FLOOR_OPEN">Piso Exterior</mat-option>
              <mat-option [value]="PositionType.RACK">Estantería</mat-option>
              <mat-option [value]="PositionType.BOX">Caja</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Cantidad de Unidades" type="text" [(ngModel)]="newPosition.amount" appForceNumeric>
            <span matSuffix [innerHtml]="getMeasure()"></span>
          </mat-form-field>

          <mat-form-field>
            <span matPrefix>$ &nbsp;</span>
            <input matInput placeholder="Costo por unidad" type="text" [(ngModel)]="newPosition.price_per_unit" appForceNumeric>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Altura Máxima" type="number" [(ngModel)]="newPosition.max_height">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Peso Máximo" type="number" [(ngModel)]="newPosition.max_weight">
            <span matSuffix>Kg</span>
          </mat-form-field>

        </div>
        <div class="row second">
          <mat-checkbox [(ngModel)]="newPosition.refrigerated">Productos Refrigerados</mat-checkbox>
          <mat-checkbox [(ngModel)]="newPosition.dangerous">Materiales Peligrosos</mat-checkbox>
        </div>
        <div class="row last">
          <button class="btn-add" mat-raised-button (click)="addPosition()" [disabled]="isNewPositionInvalid()">
            Agregar
          </button>
        </div>
      </div>
    </div>

  </mat-expansion-panel>

  <!-- <mat-expansion-panel [expanded]="true" class="services">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Servicios Agregados
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel> -->

</mat-accordion>