<footer class="footer caxtor-dark-theme">
  <div class="top-footer">
    <div class="container">

      <article class="caxtor-info">

        <img src="assets/images/caxtor-dark-big.png">

        <p>Maecenas efficitur est at neque aliquet porttitor. Suspendisse eget augue ut orci ullamcorper imperdiet
          vitae a diam. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Vivamus elementum sagittis tortor, dictum pretium eros rhoncus at.</p>

      </article>

      <article class="contact-info">

        <h2 class="title">CONTACT US</h2>

        <span>
          <img src="logo" alt="logo">
          <span>Caxtor 1211, 3605 KZ, Maarssen</span>
        </span>

        <span>
          <img src="logo" alt="logo">
          <span>Phone: 1300 623 863</span>
        </span>

        <span>
          <img src="logo" alt="logo">
          <span>enquiries@caxtor.com</span>
        </span>

        <span>
          <img src="logo" alt="logo">
          <span>9:00am - 5:00pm</span>
        </span>

      </article>

      <!-- <article class="quick-links">
        
          </article> -->

      <article class="social">

        <h2 class="title">FOLLOW US</h2>

        <a href="https://facebook.com" target="_blank" class="sn">
          <img src="logo" alt="logo">
          <span>Facebook</span>
        </a>

        <a href="https://twitter.com" target="_blank" class="sn">
          <img src="logo" alt="logo">
          <span>Twitter</span>
        </a>

        <a href="https://plus.google.com" target="_blank" class="sn">
          <img src="logo" alt="logo">
          <span>Google+</span>
        </a>

        <a href="https://youtube.com" target="_blank" class="sn">
          <img src="logo" alt="logo">
          <span>Youtube</span>
        </a>

      </article>

    </div>

  </div>

  <mat-toolbar class="copyright">
    <nav>
      <ul>
        <li>
          <span>&copy; Copyright 2018 Caxtor. All Rights Reserved.</span>
        </li>

        <li>
          <a routerLink="/terms">Terms and Conditions</a>
        </li>

        <li>
          <a routerLink="/privacy">Privacy Policy</a>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</footer>