<div *ngIf="formControl.invalid && (formControl.dirty || formControl.touched) || errors" class="form-errors">
  <p *ngIf="formControl.hasError('required')">
    Este campo es obligatorio
  </p>
  <p *ngIf="formControl.hasError('email')">
    No es un correo electrónico válido
  </p>
  <p *ngIf="formControl.hasError('maxlength')">
    Este campo debe tener máximo {{ formControl.getError('maxlength')['requiredLength'] }} caracteres
  </p>
  <p *ngIf="formControl.hasError('minlength')">
    Este campo debe tener mínimo {{ formControl.getError('minlength')['requiredLength'] }} caracteres
  </p>
  <p *ngIf="formControl.hasError('min')">
    El valor mínimo es {{ formControl.hasError('min')['min'] }}
  </p>
  <p *ngIf="formControl.hasError('max')">
    El valor máximo es {{ formControl.hasError('max')['max'] }}
  </p>
  <p *ngIf="formControl.hasError('alphanumeric')">
    Este campo sólo admite números y letras
  </p>
  <p *ngIf="formControl.hasError('fullname')">
    Este campo sólo admite letras y espacios
  </p>
  <p *ngIf="formControl.hasError('numeric')">
    Este campo sólo admite números
  </p>

  <p *ngFor="let error of errors" >{{ error }}</p>
</div>