<div class="main-container">
  <div class="container">
    <span class="title">
      <span class="text">
        Permisos de Arrendamiento
      </span>
    </span>


    <mat-accordion class="filters">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtrar Tabla
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-wrapper">
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-table #table [dataSource]="renterDataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.user.person; else thenBlock">
            <i class="far fa-lg fa-user"></i>
          </ng-container>
          <ng-template #thenBlock>
            <i class="far fa-lg fa-building"></i>
          </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="identification">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ (element.user.person || element.user.company).identification }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ (element.user.person || element.user.company).fullName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="matriculaInmobiliaria">
        <mat-header-cell *matHeaderCellDef> Matrícula Inmobiliaria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.matriculaInmobiliaria }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rut">
        <mat-header-cell *matHeaderCellDef> RUT </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [matTooltip]="'Ver Documento'" matTooltipPosition="above" [matTooltipClass]="'tooltip'" (click)="$event.stopPropagation();">
            <button mat-icon-button class="btn-pdf" (click)="openPdf(element.rut)">
              <i class="far fa-lg fa-file-pdf"></i>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="certificadoLibertadTradicion">
        <mat-header-cell *matHeaderCellDef> Cert. L.T. </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [matTooltip]="'Ver Documento'" matTooltipPosition="above" [matTooltipClass]="'tooltip'" (click)="$event.stopPropagation();">
            <button mat-icon-button class="btn-pdf" (click)="openPdf(element.certificadoLibertadTradicion)">
              <i class="far fa-lg fa-file-pdf"></i>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bankReference">
        <mat-header-cell *matHeaderCellDef> Ref. Bancaria</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [matTooltip]="'Ver Documento'" matTooltipPosition="above" [matTooltipClass]="'tooltip'" (click)="$event.stopPropagation();">
            <button mat-icon-button class="btn-pdf" (click)="openPdf(element.bankReference)">
              <i class="far fa-lg fa-file-pdf"></i>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [matTooltip]="'Rechazar Solicitud'" matTooltipPosition="above" [matTooltipClass]="'tooltip'" (click)="$event.stopPropagation();">
            <button mat-icon-button class="btn-reject" (click)="reject(element.id)">
              <i class="fas fa-lg fa-ban"></i>
            </button>
          </span>

          <span [matTooltip]="'Aceptar Solicitud'" matTooltipPosition="above" [matTooltipClass]="'tooltip'" (click)="$event.stopPropagation();">
            <button mat-icon-button class="btn-accept" (click)="accept(element.id)">
              <i class="far fa-lg fa-check-circle"></i>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="renterColumns"></mat-header-row>
      <mat-row *matRowDef="let rowData; columns: renterColumns" (click)="detail(rowData.id)"></mat-row>

    </mat-table>
    <div class="row actions">
      <mat-form-field>
        <mat-select placeholder="Items por página" [(ngModel)]="paginator.pageSize" (change)="pageSizeChange.next()">
          <mat-option [value]="10">10</mat-option>
          <mat-option [value]="20">20</mat-option>
          <mat-option [value]="50">50</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="filler no-min"></div>

      <mat-paginator #paginator [showFirstLastButtons]="true" [hidePageSize]="true"></mat-paginator>
    </div>
  </div>
</div>