<div class="component-wrapper map-wrapper">
  <div class="row top">
    <div class="filters">

      <div class="filter select-field city">
        <mat-select placeholder="Ciudad" [(ngModel)]="currentFilters.cd">
          <mat-option [value]="1">Barranquilla</mat-option>
          <mat-option [value]="2">Bogotá</mat-option>
          <mat-option [value]="3">Cartagena</mat-option>
          <mat-option [value]="4">Cali</mat-option>
        </mat-select>
      </div>

      <div class="filter date-field iDate" (click)="iPicker.open()">
        <input matInput #iInput [matDatepicker]="iPicker" placeholder="Fecha Inicial" [(ngModel)]="iDateFSbj.value"
          [min]="iDate" (dateChange)="iDateFSbj.change.next()" (focus)="iPicker.open()">
        <mat-datepicker-toggle matSuffix [for]="iPicker"></mat-datepicker-toggle>
        <mat-datepicker #iPicker (closed)="iInput.blur()"></mat-datepicker>
      </div>

      <div class="filter date-field eDate" (click)="ePicker.open()">
        <input matInput #eInput [matDatepicker]="ePicker" placeholder="Fecha final" [(ngModel)]="eDateFSbj.value" [min]="iDate"
          (dateChange)="eDateFSbj.change.next()" (focus)="ePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="ePicker"></mat-datepicker-toggle>
        <mat-datepicker #ePicker (closed)="eInput.blur()"></mat-datepicker>
      </div>

      <div class="filter select-field type">
        <mat-select placeholder="Tipo de Espacio" [(ngModel)]="positionFSbj.value" (change)="positionFSbj.change.next()">
          <mat-option [value]="PositionType.FLOOR_CLOSED">Piso Cubierto</mat-option>
          <mat-option [value]="PositionType.FLOOR_OPEN">Piso Exterior</mat-option>
          <mat-option [value]="PositionType.RACK">Estantería</mat-option>
          <mat-option [value]="PositionType.BOX">Caja</mat-option>
        </mat-select>
      </div>

      <div class="filter select-field cant">
        <mat-select placeholder="Cantidad de Espacios" [(ngModel)]="amountFSbj.value" (change)="amountFSbj.change.next()">
          <mat-option [value]="0">1&ndash;50</mat-option>
          <mat-option [value]="1">51&ndash;250</mat-option>
          <mat-option [value]="2">250&ndash;500</mat-option>
          <mat-option [value]="3">500&ndash;1000</mat-option>
          <mat-option [value]="4">1000+</mat-option>
        </mat-select>
      </div>

      <div class="filter cb-menu-field products" [matMenuTriggerFor]="productMenu">
        <span>Productos Aceptados</span>
        <i class="fas fa-caret-down"></i>
        <mat-menu #productMenu="matMenu" class="temp-menu" xPosition="after" [class]="'filter-menu productMenu'" [hasBackdrop]="true" [backdropClass]="'menu-backdrop'" [overlapTrigger]="false">
          <div class="wrapper">
            <span class="title">PRODUCTOS ACEPTADOS</span>
            <div class="cb-area product">
              <mat-checkbox *ngFor="let p of parameters.product" [(ngModel)]="p.checked" (click)="$event.stopPropagation()" >{{ p.description }}</mat-checkbox>
            </div>
          </div>
        </mat-menu>
      </div>
      <div class="filter cb-menu-field services" [matMenuTriggerFor]="servicesMenu">
        <span>Servicios</span>
        <i class="fas fa-caret-down"></i>
        <mat-menu #servicesMenu="matMenu" class="temp-menu" xPosition="after" [class]="'filter-menu servicesMenu'" [hasBackdrop]="true" [backdropClass]="'menu-backdrop'" [overlapTrigger]="false">
          <div class="wrapper">
              <span class="title">SERVICIOS</span>
            <div class="cb-area services">
              <mat-checkbox *ngFor="let p of services" [(ngModel)]="p.checked" (click)="$event.stopPropagation()" >{{ p.description }}</mat-checkbox>
            </div>
          </div>
        </mat-menu>
      </div>
      <div class="filter cb-menu-field others" [matMenuTriggerFor]="otherMenu">
        <span>Almacenamiento</span>
        <i class="fas fa-caret-down"></i>
        <mat-menu #otherMenu="matMenu" class="temp-menu" xPosition="after" [class]="'filter-menu otherMenu'" [hasBackdrop]="true" [backdropClass]="'menu-backdrop'" [overlapTrigger]="false"> 
          <div class="wrapper" (click)="$event.stopPropagation()">
              <span class="title">SEGURIDAD</span>
              <div class="cb-area security">
                <mat-checkbox *ngFor="let p of parameters.security" [(ngModel)]="p.checked" (click)="$event.stopPropagation()" >{{ p.description }}</mat-checkbox>
              </div>
              <span class="title">CERTIFICACIONES</span>
            <div class="cb-area certifications">
              <mat-checkbox *ngFor="let p of parameters.certifications" [(ngModel)]="p.checked" (click)="$event.stopPropagation()" >{{ p.description }}</mat-checkbox>
            </div>
          </div>
        </mat-menu>
      </div>

    </div>
  </div>

  <div class="row bottom">
    <div class="left-area results" *ngIf="!focusedWarehouse">
      
      <header class="results-header" class="mat-elevation-z2">
        <span>
          {{ 0 }} Bódegas Encontradas
        </span>

        <div class="filler"></div>

        <div class="sort-order">
            <mat-select placeholder="Ordenar Resultados" [(ngModel)]="sortOrderFSbj.value" (change)="sortOrderFSbj.change.next()">
              <mat-option [value]="0">Precio (Descendente)</mat-option>
              <mat-option [value]="1">Precio (Ascendente)</mat-option>
              <mat-option [value]="2">Distancia (Descendente)</mat-option>
              <mat-option [value]="3">Distancia (Ascendente)</mat-option>
            </mat-select>
          </div>
      </header>

      <mat-nav-list class="warehouses">
        
        <ng-container *ngFor="let r of warehouses">
          <mat-list-item class="result" (click)="focusOn(r)">
            <img src="https://www.joc.com/sites/default/files/field_feature_image/warehouse%2043.jpg" alt="foto" class="">
            <span class="text-vertical-group">
              <span class="name">{{r.name}}</span>
              <span class="addr">{{r.address}}</span>
            </span>
            <div class="filler"></div>
            <span class="details">Detalles
              <i class="fa fa-caret-right" aria-hidden="true"></i>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

      </mat-nav-list>
      <mat-paginator [length]="5" [pageSize]="5" (page)="onPage($event.pageIndex)">
      </mat-paginator>
    </div>

    <div class="left-area result-focus" *ngIf="focusedWarehouse as wh">
      <span class="top-title title">
        <button mat-icon-button class="btn-back" (click)="clearFocus()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        Detalles de Bodega
      </span>
      <span class="line name">
        <i class="fa fa-truck" aria-hidden="true"></i>
        {{ focusedWarehouse.name }}
      </span>
      <span class="wh-img">
        <img src="https://s3.amazonaws.com/flexe/photos/091df545cced868f4bafa58c7f75402d4c3a478b/large.JPG?1435655612">
      </span>

      <span class="sub-title">Dirección</span>
      <span class="addr">{{ wh.address }}</span>

      <span class="sub-title">Tipos de Almacenamiento</span>
      <div class="storage">
        <span class="str" *ngIf="wh.has_rack()">
          <img src="assets/images/rack-icon.png"> Estantería
        </span>
        <span class="str" *ngIf="wh.has_floor_closed()">
          <img src="assets/images/single-stack-icon.png"> Área Piso Cubierta
        </span>
        <span class="str" *ngIf="wh.has_floor_open()">
          <img src="assets/images/single-stack-icon.png"> Área Piso Descubierta
        </span>
      </div>

      <span class="sub-title">Precios Desde</span>
      <div class="line prices">
        <span>
          <i class="fa fa-archive" aria-hidden="true"></i>
          {{25000 | copCurrency}} Por Pallet
        </span>
      </div>

      <div class="filler no-min"></div>
      <button mat-raised-button color="primary" class="btn-go">
        <span class="btn-text">Ver más Detalles</span>
      </button>
    </div>

    <div class="map">
      <agm-map [latitude]="iLat" [longitude]="iLng" [zoom]="zoom" [streetViewControl]="false" [zoomControl]="false">
        <agm-marker *ngFor="let r of warehouses" [latitude]="r.lat" [longitude]="r.lng" [markerDraggable]="false"
          (markerClick)="markerClick(r)"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>