@import './src/scss/variables.scss';
:host{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100vh - var(--footer-height));
}
mat-card {
  margin-top: 5em;
  font-size: 1.5rem;
  padding: 1em 2em 2em 2em;
  width: 30vw;
  mat-card-title{
    font-size: 1.5em;
    padding: 0.1em;
  }
  mat-card-content{
    font-size: 1em;
  }
  form {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    .btn-login {
      align-self: center;
      font-size: 1.5em;
      margin-top: 0.5em;
      padding: 0.15em 0.75em;
      border-radius: 0.1em;
    }
  }
  mat-card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn-forgot {
      text-decoration: none;
      align-self: center;
      padding: 0.1em;
      font-size: 0.75em;
  
      &:hover{
        text-decoration: underline;
      }
    }

    .btn-register{
      margin-top: 0.5em;
      font-size: 0.7em;
      a{
        text-decoration: underline;
      }
    }
  }
}