@import '~@angular/material/theming';
@mixin navbar-component-theme($theme) {
  $primary: map-get($map: $theme, $key: primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  .header-toolbar {
    background: transparentize($color: mat-color($background, status-bar), $amount: 1);
    a:not(.logo) {
      color: mat-color($foreground, text);
      &:hover {
        &:not(.highlight) {
          border-bottom: none;
          color: mat-color($primary, 500);
          transition: color 0.1s ease-in;
        }
      }
    }
  }
}