<header class="header caxtor-dark-theme">
  <mat-toolbar class="header-toolbar" [ngClass]="{'transparent': isAtHome()}">
    <a routerLink="/" class="logo">
      <img src="assets/images/caxtor-dark-big.png">
    </a>

    <div class="filler"></div>

    <nav>
      <ul>
        <li>
          <a routerLink="/temproute_client">
            Búscar Espacio
          </a>
        </li>
      </ul>
    </nav>

    <ng-container *ngIf="authService.user">
      <button mat-button [matMenuTriggerFor]="authMenu" class="menu-auth">
        <!-- <img src="assets/images/auth_logo.png"> -->
        <span class="button-text">{{ authService.user.user.profile.fullName }}</span>
        <i class="fas fa-caret-down fa-lg"></i>
      </button>
      <mat-menu #authMenu="matMenu" class="temp-menu" xPosition="after">
        <button mat-menu-item routerLink="/cuenta/perfil" *ngIf="canShow(1)">
          <i class="fas fa-cog"></i>
          <span class="button-text">Mi Perfil</span>
        </button>
        <button mat-menu-item routerLink="/temproute_client" *ngIf="canShow(2)">
          <i class="fas fa-cog"></i>
          <span class="button-text">Panel Cliente</span>
        </button>
        <button mat-menu-item routerLink="/temproute_owner" *ngIf="canShow(3)">
          <i class="fas fa-cog"></i>
          <span class="button-text">Panel Arrendador</span>
        </button>
        <button mat-menu-item (click)="authService.logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span class="button-text">Cerrar Sesión</span>
        </button>
      </mat-menu>
    </ng-container>

    <nav>
        <ul>
          <li>
            <a routerLink="/login" class="btn-login" *ngIf="!authService.user">
              Iniciar Sesión
            </a>
          </li>
        </ul>
      </nav>

    

  </mat-toolbar>
</header>