<header class="background-theme">
  <mat-toolbar color="primary">
    <a mat-button (click)="home()" class="logo">
      <img src="assets/images/caxtor-logo-smol.png">
    </a>
    
    <div class="filler"></div>
    
    <nav>
      <ul>
        <li><a>Soluciones</a></li>
        <li><a>Empresas</a></li>
        <li><a>Soporte</a></li>
        <li><a>Inicio Sesión</a></li>

        <li class="highlight"><a routerLink="/temproute_client" routerLinkActive="active">Alquilar Espacio</a></li>

        <li class="highlight"><a routerLink="/temproute_owner" routerLinkActive="active">Arrendar Espacio</a></li>

      </ul>
    </nav>
  </mat-toolbar>
</header>