@import '~@angular/material/theming';
@mixin navbar-component-theme($theme) {
  $primary: map-get($map: $theme, $key: primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  
  mat-toolbar.mat-toolbar {
    background-color: mat-color($background, status-bar);
    background-color: mat-color($background, card);
    a:not(.logo) {
      color: mat-color($foreground, text);
      &:hover {
        &:not(.highlight){
          // box-shadow: 0 1px 0 0 mat-color($background, hover);
          border-bottom: solid 1px mat-color($foreground, divider);
          color: mat-color($primary, darker);
          transition: color 0.15s ease-in;
        }
      }
    }
  }
}