@import './src/scss/variables.scss';
// :host {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   height: var(--header-height, 72px);
//   background: none;
// }

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: var(--header-height, 72px);
}

mat-toolbar {
  font-size: 1.5rem;
  height: calc(90px + 1em);
  padding: 0.5em 3em;
  .logo {
    display: flex;
    margin-right: 2em;
    &:hover {
      cursor: pointer;
    }
    img {
      margin-right: 1em;
      height: 90px;
    }
  }
  nav,
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1em;
    li {
      list-style: none;
      margin: 0 0.5em;
      padding: 0.25em;
      position: relative;
      &:hover {
        cursor: pointer;
        &:not(.highlight) {
          a {
            padding-bottom: 0.2em;
          }
        }
      }
    }
  }
  a,
  .title,
  .menu-toggle {
    text-decoration: none;
  }
  .menu-auth {
    img {
      height: 2em;
      width: 2em;
    }
    .button-text {
      font-size: 1em;
      margin: 0 0.25em;
    }
  }
}