<p size-4 mat-dialog-title>{{ title }}</p>
<div mat-dialog-content>
  <p size-5>Esta acción es irreversible, ¿está seguro de que desea continuar?</p>
  <mat-form-field *ngIf="showMotive">
    <textarea rows="5" matInput placeholder="Motivo (opcional)" [(ngModel)]="motive" tabindex="-1"></textarea>
  </mat-form-field>

  <div class="code-multa" *ngIf="multaCodes && multaCodes.length">
    <p size-5>Código de Infracción</p>
    <div>
      <form>
        <mat-form-field class="example-full-width">
          <input tabindex="-1" size-4 type="text" placeholder="Código de Infracción" matInput [formControl]="mcControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="mcDisplayFn">
            <mat-option *ngFor="let code of filteredMultaCodes | async" [value]="code">
              {{ code | multaCode }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <p size-6 *ngIf="mcControl.value && mcControl.value.type_multa">{{ mcControl.value | multaCode }}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button size-5 class="cancel-btn" mat-button tabindex="-1" [mat-dialog-close]="">Cancelar</button>
  <button size-5 class="reject-btn" [ngClass]="{'success': !showMotive}" mat-button tabindex="-1" [mat-dialog-close]="{'motive': motive, 'multaCode': mcControl.value}"
    [disabled]="(multaCodes && multaCodes.length && !(mcControl.value && mcControl.value.type_multa))">
    {{ showMotive ? 'Rechazar' : 'Confirmar'}}
  </button>
</div>