<div class="main-container">

  <div class="carousel">
    <span> carousel</span>
  </div>

  <div class="container">
    <span class="name">
      {{ warehouse.name }}
    </span>
    <div class="rating">
      rating
    </div>

    <div class="row">

      <div class="col left">

        <mat-card class="storage">
          <mat-card-content>
            <div class="content-wrapper">
              <span class="title">Tipo de Espacios Disponibles</span>
              <div class="row">
                <span class="type" [ngClass]="{'active': hasType(0)}">
                  <img src="assets/images/icon-pallet.png">
                  <span>Pallets</span>
                </span>
                <span class="type" [ngClass]="{'active': hasType(1)}">
                  <img src="assets/images/icon-rack.png">
                  <span>Estanterías
                  </span>
                </span>
                <span class="type" [ngClass]="{'active': hasType(2)}">
                  <img src="assets/images/icon-box.png">
                  <span>Cajas</span>
                </span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="warehouse-detail">
          <mat-card-content>
            <div class="content-wrapper">
              <mat-tab-group #tabGroup>
                <mat-tab label="Descripción">
                  <ng-template matTabContent>
                    <div class="description inner-wrapper">
                      <span class="field">
                        <span class="label">Días Laborales</span>
                        {{ getDays() }}
                      </span>
                      <span class="field">
                        <span class="label">Horario Laboral</span>
                        {{ getSchedule() }}
                      </span>
                      <div class="list-field">
                        <span class="label">Productos Aceptados</span>
                        <ul class="fa-ul" *ngIf="products && products.length">
                          <li *ngFor="let p of products">
                            <span class="fa-li">
                              <i class="fas fa-check"></i>
                            </span>{{ p.description }}</li>
                        </ul>
                      </div>
                      <div class="list-field">
                        <span class="label">Seguridad</span>
                        <ul class="fa-ul" *ngIf="security && security.length">
                          <li *ngFor="let p of security">
                            <span class="fa-li">
                              <i class="fas fa-check"></i>
                            </span>{{ p.description }}</li>
                        </ul>
                      </div>
                      <div class="list-field">
                        <span class="label">Certificaciones</span>
                        <ul class="fa-ul" *ngIf="certifications && certifications.length">
                          <li *ngFor="let p of certifications">
                            <span class="fa-li">
                              <i class="fas fa-check"></i>
                            </span>{{ p.description }}</li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </mat-tab>
                <mat-tab label="Almacenamiento">
                  <ng-template matTabContent>
                    <div class="inner-wrapper">
                      <mat-table #table [dataSource]="storageDataSource">

                        <ng-container matColumnDef="number">
                          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                          <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="unit">
                          <mat-header-cell *matHeaderCellDef> Tipo Espacio </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{ element.type | t0tPositionType }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="space">
                          <mat-header-cell *matHeaderCellDef> Espacio Disponible </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <span>{{ element.amount + ' '}}
                              <span [innerHtml]="getMeasure(element)"></span>
                            </span>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="price">
                          <mat-header-cell *matHeaderCellDef> Valor ($) </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{ element.price_per_unit | copCurrency }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="height">
                          <mat-header-cell *matHeaderCellDef> Altura Máxima (m) </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{ element.max_height }}m </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="weight">
                          <mat-header-cell *matHeaderCellDef> Peso Máximo (Kg) </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{ element.max_weight }}kg </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="special">
                          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <span class="icon-refrigerated-wrapper" matTooltip="Producto Refrigerado" matTooltipPosition="above" [matTooltipClass]="'tooltip'"
                              (click)="$event.stopPropagation();" [style.visibility]="element.refrigerated ? 'visible' : 'hidden'">
                              <i class="far fa-lg fa-snowflake"></i>
                            </span>
                            <span class="icon-dangerous-wrapper" matTooltip="Material Peligroso" matTooltipPosition="above" [matTooltipClass]="'tooltip'"
                              (click)="$event.stopPropagation();" [style.visibility]="element.dangerous ? 'visible' : 'hidden'">
                              <i class="fas fa-lg fa-exclamation-triangle"></i>
                            </span>
                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="storageColumns"></mat-header-row>
                        <mat-row *matRowDef="let rowData; columns: storageColumns"></mat-row>

                      </mat-table>
                    </div>
                  </ng-template>
                </mat-tab>
                <mat-tab label="Servicios" [disabled]="true">
                  <ng-template matTabContent>
                    <div class="inner-wrapper">

                    </div>
                  </ng-template>
                </mat-tab>
              </mat-tab-group>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="reviews">
          <mat-card-content>
            <div class="content-wrapper">
              <span class="title">Calificaciones ({{ 0 }})</span>
              <div class="row">
                <span class="rating">
                  <span class="label">Tipo de Calificación 1</span>
                  <span class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </span>
                </span>
                <span class="rating">
                  <span class="label">Tipo de Calificación 2</span>
                  <span class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </span>
                </span>
                <span class="rating">
                  <span class="label">Tipo de Calificación 3</span>
                  <span class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </span>
                </span>
                <span class="rating">
                  <span class="label">Tipo de Calificación 4</span>
                  <span class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </span>
                </span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

      <div class="col right">
        <ng-container *ngIf="false; else thenBlock">
          <mat-card class="profile">
            <mat-card-header>
              <div class="wrapper">
                <mat-card-title>
                  Bodega
                </mat-card-title>
              </div>

            </mat-card-header>
            <mat-card-content>

              <div class="content-wrapper">
                <span class="name">{{ warehouse.name }}</span>
                <span class="address">{{ warehouse.address }}</span>
                <button mat-raised-button class="btn-add" [routerLink]="['warehouses/create']">Administrar Reservas</button>
                <button mat-raised-button class="btn-add" [disabled]="true">Editar Bódega</button>
              </div>

            </mat-card-content>
          </mat-card>
        </ng-container>

        <ng-template #thenBlock>
          <mat-card class="application">
            <mat-card-content>

              <div class="content-wrapper">
                <form [formGroup]="form">

                  <mat-form-field class="start-date">
                    <input matInput [min]="minDate" [matDatepicker]="sPicker" placeholder="Fecha de Inicio" [formControl]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="sPicker"></mat-datepicker-toggle>
                    <mat-datepicker #sPicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="end-date">
                    <input matInput [min]="minDate" [matDatepicker]="ePicker" placeholder="Fecha Fin" [formControl]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="ePicker"></mat-datepicker-toggle>
                    <mat-datepicker #ePicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select placeholder="Tipo de Espacio" [formControl]="positionType" (change)="filterPositions()">
                      <mat-option [value]="PositionType.FLOOR_CLOSED">Piso Cubierto</mat-option>
                      <mat-option [value]="PositionType.FLOOR_OPEN">Piso Exterior</mat-option>
                      <mat-option [value]="PositionType.RACK">Estantería</mat-option>
                      <mat-option [value]="PositionType.BOX">Caja</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-checkbox [formControl]="refrigerated" (change)="filterPositions()">Productos Refrigerados</mat-checkbox>
                  <mat-checkbox [formControl]="dangerous" (change)="filterPositions()">Materiales Peligrosos</mat-checkbox>

                  <mat-form-field>
                    <mat-select placeholder="Seleccionar Opción..." [formControl]="position">
                      <mat-option *ngFor="let pos of filteredPositions; let i = index" [value]="filteredPositions.id">Opción #{{ i + 1 }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="Cantidad de Unidades" type="number" [formControl]="amount" appForceNumeric [disabled]="!positionType.value">
                    <span matSuffix [innerHtml]="getMeasure(positionType.value)"></span>
                  </mat-form-field>

                  <div class="h-divider"></div>

                  <div class="fee">
                    <div class="row">
                      <span class="label">Costo de Almacenamiento</span>
                      <div class="filler no-min">
                      </div>
                      <span class="cost">{{ storageCost | copCurrency }}</span>
                    </div>
                    <div class="row">
                      <span class="detail">{{ 400 | copCurrency }} x {{ amount.value }} x {{ 'n' }} día(s)</span>
                    </div>
                  </div>

                  <div class="fee">
                    <div class="row">
                      <span class="label">Costo de Servicios</span>
                      <div class="filler no-min">
                      </div>
                      <span class="cost">{{ '(TBD)' }}</span>
                    </div>
                    <div class="row">
                      <span class="detail">Costos varían dependiendo de los servicios seleccionados</span>
                    </div>
                  </div>

                  <button mat-raised-button class="btn-submit" [disabled]="form.invalid">Completar Solicitud</button>
                </form>
              </div>

            </mat-card-content>
          </mat-card>
        </ng-template>
      </div>

    </div>

  </div>
</div>