<!-- <div class="main-container">
  <div class="container">
    <span class="title">
      <span class="text">
        {{ Nombre Empresa }}
      </span>
    </span>


    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtrar Tabla
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filters">
          <mat-select placeholder="Cámara" [(ngModel)]="camFilterSbj.value" (change)="camFilterSbj.change.next()">
            <mat-option *ngFor="let c of cameras" [value]="c.id">{{ c.name }}</mat-option>
          </mat-select>
          <mat-select placeholder="Categoría de Infracción" [(ngModel)]="catFilterSbj.value" (change)="catFilterSbj.change.next()">
            <mat-option *ngFor="let vc of vCategories" [value]="vc.id">{{ vc.name }}</mat-option>
          </mat-select>
          <mat-select placeholder="Estado de Infracción" [(ngModel)]="stateFilterSbj.value" (change)="stateFilterSbj.change.next()"
            *ngIf="aService.user.role === UserType.SUPERADMIN || aService.user.role === UserType.ADMIN || aService.user.role === UserType.AGENTE">
            <mat-option [value]="InfractionState.PENDING" *ngIf="aService.user.role === UserType.SUPERADMIN || aService.user.role === UserType.ADMIN">{{ InfractionState.PENDING | infractionState }}</mat-option>
            <mat-option [value]="InfractionState.PRE_APPROVED" *ngIf="aService.user.role === UserType.SUPERADMIN || aService.user.role === UserType.ADMIN">{{ InfractionState.PRE_APPROVED | infractionState }}</mat-option>
            <mat-option [value]="InfractionState.APPROVED">{{ InfractionState.APPROVED | infractionState }}</mat-option>
            <mat-option [value]="InfractionState.GENERATED">{{ InfractionState.GENERATED | infractionState }}</mat-option>
            <mat-option [value]="InfractionState.REJECTED" *ngIf="aService.user.role === UserType.SUPERADMIN || aService.user.role === UserType.ADMIN">{{ InfractionState.REJECTED | infractionState }}</mat-option>
            <mat-option [value]="InfractionState.CANCELED" *ngIf="aService.user.role === UserType.SUPERADMIN || aService.user.role === UserType.ADMIN">{{ InfractionState.CANCELED | infractionState }}</mat-option>
          </mat-select>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-table #table [dataSource]="infractionDataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="camera">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cámara </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.camera.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="traffic_violation_category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.traffic_violation_category.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="plate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Placa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.plate }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="speed_allowed">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Vel. Permitida </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.speed_allowed }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="over_speed">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Vel. del Vehículo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.over_speed }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.state }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.date | date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="Detalle" matTooltipPosition="above" [matTooltipClass]="'tooltip'" (click)="$event.stopPropagation();">
            <button mat-icon-button class="btn-detail" (click)="detail(element.id)">
              <i class="fas fa-lg fa-search-plus"></i>
            </button>
          </span>
          <span matTooltip="Ver Notificación" matTooltipPosition="above" [matTooltipClass]="'tooltip'" (click)="$event.stopPropagation();"
            *ngIf="element.state === InfractionState.GENERATED && element.notification">
            <button mat-icon-button class="btn-pdf" (click)="openPdf(element.notification)">
              <i class="far fa-lg fa-file-pdf"></i>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="infractionColumns"></mat-header-row>
      <mat-row *matRowDef="let rowData; columns: infractionColumns"></mat-row>

    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div> -->