.dialog-case-success {
  width: 35vw;
  height: 60vh;
  mat-dialog-container {
    overflow: hidden;
    padding: 0;
    background: none;
  }
  #case-received {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .top-close-btn {
      position: absolute;
      color: white;
      top: 0.5vh;
      right: 0.5vh;
    }
    &>.content {
      background: url(/assets/images/background-yellow-shape.png);
      flex: 1 0 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1vw;
      img {
        width: 25vw;
      }
      p {
        margin: 0;
        text-align: center;
      }
      p,
      mat-icon {
        color: white;
      }
    }
  }
}