<div class="component-wrapper home-wrapper">

  <section class="section-login">

    <div class="container">

      <mat-card>
        <mat-card-title>
          Registro
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>

          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <mat-radio-group [formControl]="personType">
              <mat-radio-button [value]="PersonType.NATURAL">Persona Natural</mat-radio-button>
              <mat-radio-button [value]="PersonType.JURIDICA">Persona Jurídica</mat-radio-button>
            </mat-radio-group>

            <div *ngIf="personType && personType.value === PersonType.NATURAL" [formGroup]="person">
              <mat-form-field>
                <input matInput placeholder="Nombres*" type="text" [formControl]="pName" (input)="errors.message = undefined;">
                <mat-error *ngIf="pName.invalid || errors.name">{{getErrorMessage(pName, errors.name)}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Apellidos*" type="text" [formControl]="pLastName" (input)="errors.message = undefined;">
                <mat-error *ngIf="pLastName.invalid || errors.lastName">{{getErrorMessage(pLastName, errors.lastName)}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Identificación*" type="text" [formControl]="pIdentification" (input)="errors.message = undefined;"
                  appForceNumeric>
                <mat-error *ngIf="pIdentification.invalid || errors.identification">{{getErrorMessage(pIdentification,
                  errors.identification)}}</mat-error>
              </mat-form-field>
            </div>

            <div *ngIf="personType && personType.value === PersonType.JURIDICA" [formGroup]="company">
              <mat-form-field>
                <input matInput placeholder="Razón Social*" type="text" [formControl]="cName" (input)="errors.message = undefined;">
                <mat-error *ngIf="cName.invalid || errors.name">{{getErrorMessage(cName, errors.name)}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Nit*" type="text" [formControl]="cNit" (input)="errors.message = undefined;">
                <mat-error *ngIf="cNit.invalid || errors.nit">{{getErrorMessage(cNit, errors.nit)}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Nombres Representante Legal*" type="text" [formControl]="cRlName" (input)="errors.message = undefined;">
                <mat-error *ngIf="cRlName.invalid || errors.name">{{getErrorMessage(cRlName, errors.name)}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Apellidos Representante Legal*" type="text" [formControl]="cRlLastName"
                  (input)="errors.message = undefined;">
                <mat-error *ngIf="cRlLastName.invalid || errors.lastName">{{getErrorMessage(cRlLastName,
                  errors.lastName)}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Identificación Representante Legal*" type="text" [formControl]="cRlIdentification"
                  (input)="errors.message = undefined;" appForceNumeric>
                <mat-error *ngIf="cRlIdentification.invalid || errors.identification">{{getErrorMessage(cRlIdentification,
                  errors.identification)}}</mat-error>
              </mat-form-field>
            </div>

            <mat-form-field>
              <input matInput placeholder="Teléfono (Celular)*" type="tel" [formControl]="cellphoneNumber" (input)="errors.message = undefined;"
                appForceNumeric>
              <mat-error *ngIf="cellphoneNumber.invalid || errors.contact_phone">{{getErrorMessage(cellphoneNumber,
                errors.contact_phone)}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Teléfono (Fijo)" type="tel" [formControl]="phoneNumber" (input)="errors.message = undefined;"
                appForceNumeric>
              <mat-error *ngIf="phoneNumber.invalid || errors.contact_phone">{{getErrorMessage(phoneNumber,
                errors.contact_phone)}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Correo Electrónico*" type="text" [formControl]="email" (input)="errors.message = undefined;">
              <mat-error *ngIf="email.invalid || errors.email">{{getErrorMessage(email, errors.email)}}</mat-error>
            </mat-form-field>

            <div [formGroup]="passwords" *ngIf="!loadedUser">
              <mat-form-field>
                <input matInput placeholder="Contraseña" type="password" [formControl]="password" (input)="errors.message = undefined;">
                <mat-error *ngIf="password.invalid || errors.password">{{getErrorMessage(password, errors.password)}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Confirmación Contraseña" type="password" [formControl]="password_confirmation"
                  (input)="errors.message = undefined;">
                <mat-error *ngIf="password_confirmation.invalid || errors.password_confirmation">{{getErrorMessage(password_confirmation,
                  errors.password_confirmation)}}</mat-error>
              </mat-form-field>
            </div>

          </form>

          <mat-checkbox [(ngModel)]="willRent" class="cb-rent" (change)="onWillRentchange(accordion);">
            Planeo listar espacios para arrendar
          </mat-checkbox>

          <mat-accordion>
            <mat-expansion-panel #accordion (opened)="willRent = true" (closed)="willRent = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Información requerida para arrendamiento
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="content">
                
                <div class="file-input">
                  <input #brFile class="fileInput" type="file" accept=".pdf" (change)="onFile($event.target.files[0], 0); brFile.value = ''">
                  <button mat-raised-button (click)="brFile.click()">
                    <span class="button-text">
                      {{ bankReference ? bankReference.name : 'Seleccionar Archivo...' }}
                    </span>
                  </button>
                  <span class="placeholder">Referencia Bancaria*</span>
                </div>

                <div class="file-input">
                  <input #rutFile class="fileInput" type="file" accept=".pdf" (change)="onFile($event.target.files[0], 2); rutFile.value = ''">
                  <button mat-raised-button (click)="rutFile.click()">
                    <span class="button-text">
                      {{ rut ? rut.name : 'Seleccionar Archivo...' }}
                    </span>
                  </button>
                  <span class="placeholder">RUT*</span>
                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>


          <mat-error *ngIf="errors.message" class="form-errors">
            {{ errors.message }}
          </mat-error>

          <mat-checkbox [(ngModel)]="terms" class="cb-terms" color="primary">
            He leído y acepto los <a href="/terminos-y-condiciones" target="_blank" class="color">Términos y Condiciones</a>
          </mat-checkbox>

          <button mat-raised-button color="primary" class="btn-submit" [disabled]="userForm.invalid && invalidRenter() && terms"
            (click)="onSubmit()">
            <span>Completar Registro</span>
          </button>

        </mat-card-content>

      </mat-card>


    </div>

  </section>

</div>