<div class="main-container">
  <div class="container">
    <span class="title">
      <span class="text">
        {{ 'Nombre Admin' }}
      </span>
    </span>

    <div class="grid-wrapper">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Card 1
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="wrapper">
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="renters">
        <mat-card-header>
          <mat-card-title>
            Clientes
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="wrapper">
            <button mat-raised-button class="btn-renters" routerLink="solicitudes-arriendo">
              Solicitudes de Permiso
            </button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Card 3
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="wrapper">
          </div>
        </mat-card-content>
      </mat-card>
    </div>


  </div>
</div>