<div class="component-wrapper create-warehouse-wrapper">

  <div class="container">

    <mat-card class="bg-title-card">
      <mat-card-header>
        <div class="wrapper">
          <mat-card-title>
            CREAR BÓDEGA
          </mat-card-title>
        </div>

      </mat-card-header>

      <mat-card-content>
        <div class="wrapper">
          <mat-horizontal-stepper [linear]="true" #stepper>
            <!-- <ng-template matStepperIcon="edit">
              {{stepper.selectedIndex}}
            </ng-template> -->
            <mat-step [stepControl]="formBasicInfo" [completed]="basicInfo.isComplete()">
              <ng-template matStepLabel>Información Básica</ng-template>
              <app-step-basic-info [warehouse]="warehouse" [departamentos]="departamentos"></app-step-basic-info>
            </mat-step>

            <mat-step [stepControl]="formBasicInfo" [completed]="basicInfo.isComplete()">
              <ng-template matStepLabel>Información de Bódega</ng-template>
              <app-step-warehouse-info [warehouse]="warehouse" [parameters]="parameters"></app-step-warehouse-info>
            </mat-step>

            <mat-step [stepControl]="formBasicInfo" [completed]="storageInfo.isComplete()">
              <ng-template matStepLabel>Información de Servicios</ng-template>
              <app-step-storage [warehouse]="warehouse" [parameters]="parameters"></app-step-storage>
            </mat-step>

            <mat-step [stepControl]="formBasicInfo" [completed]="storageInfo.isComplete()">
              <ng-template matStepLabel>Información de Precios</ng-template>
              <!-- <app-step-storage [warehouse]="warehouse" [parameters]="parameters"></app-step-storage> -->
            </mat-step>

          </mat-horizontal-stepper>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button class="btn-back" (click)="back()">
          <span class="btn-text">
            Regresar
          </span>
        </button>
        <div class="filler"></div>
        <button mat-raised-button color="primary" class="btn-next" (click)="next()">
          <span class="btn-text">
            Siguiente
          </span>
        </button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>