<div class="main-container">

  <div class="container">

    <span class="title"> Crear Bodega </span>

    <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="formBasicInfo">
        <ng-template matStepLabel>Información Básica</ng-template>
        <app-step-basic-info [form]="formBasicInfo"></app-step-basic-info>
      </mat-step>

      <mat-step [stepControl]="formBasicInfo">
        <ng-template matStepLabel>Almacenamiento y Servicios</ng-template>
        <!-- <app-step-basic-info [form]="formBasicInfo"></app-step-basic-info> -->
      </mat-step>

      <mat-step [stepControl]="formBasicInfo">
        <ng-template matStepLabel>Disponibilidad</ng-template>
        <!-- <app-step-basic-info [form]="formBasicInfo"></app-step-basic-info> -->
      </mat-step>

    </mat-horizontal-stepper>
    <div class="actions">
      <button mat-raised-button class="btn-back" (click)="back()">
        <span class="btn-text">
          Regresar
        </span>
      </button>
      <div class="filler"></div>
      <button mat-raised-button color="primary" class="btn-next" (click)="next()">
        <span class="btn-text">
          Siguiente
        </span>
      </button>
    </div>

  </div>

</div>