<div class="component-wrapper create-warehouse-wrapper">

  <div class="container">

    <mat-card class="bg-title-card">
      <mat-card-header>
        <div class="wrapper">
          <mat-card-title>
            CREAR BÓDEGA
          </mat-card-title>
        </div>

      </mat-card-header>

      <mat-card-content>
        <div class="wrapper">
          <mat-horizontal-stepper [linear]="true" #stepper>
            <!-- <ng-template matStepperIcon="edit">
              {{stepper.selectedIndex}}
            </ng-template> -->
            <mat-step [completed]="isComplete(basicInfo)" state="home">
              <ng-template matStepLabel>Información Básica</ng-template>
              <app-step-basic-info [warehouse]="warehouse" [departamentos]="departamentos"></app-step-basic-info>
            </mat-step>

            <mat-step [completed]="isComplete(warehouseInfo)" state="home">
              <ng-template matStepLabel>Características de Bódega</ng-template>
              <app-step-warehouse-info [warehouse]="warehouse" [parameters]="parameters"></app-step-warehouse-info>
            </mat-step>

            <mat-step [completed]="isComplete(servicesInfo)" state="shipping">
              <ng-template matStepLabel>Servicios</ng-template>
              <app-step-services [warehouse]="warehouse" [services]="services"></app-step-services>
            </mat-step>
            
            <mat-step [completed]="isComplete(storageInfo)" state="price">
              <ng-template matStepLabel>Precios</ng-template>
              <app-step-storage [warehouse]="warehouse" [services]="services" *ngIf="stepper.selectedIndex === 3"></app-step-storage>
            </mat-step>

             <!-- Icon overrides. -->
  <ng-template matStepperIcon="home">
    <mat-icon>home</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="shipping">
    <mat-icon>local_shipping</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="price">
    <mat-icon>insert_chart</mat-icon>
  </ng-template>

          </mat-horizontal-stepper>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button class="btn-back" (click)="back()">
          <span class="btn-text">
            Regresar
          </span>
        </button>
        <div class="filler"></div>
        <button mat-raised-button color="primary" class="btn-next" (click)="next()">
          <span class="btn-text">
            Siguiente
          </span>
        </button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>