// colors
$primary: #80DEEA;
$primary-light: #b4ffff;
$primary-dark: #4bacb8;
$success: #4caf50;
$danger: #f44336;
$warning: #ffc107;
$light: #FAFAFA;
$dark: #212121;
// media variables
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}