// colors
$primary: #80DEEA;
$primary-light: #b4ffff;
$primary-dark: #4bacb8;
$success: #4caf50;
$danger: #f44336;
$warning: #ffc107;
$light: #FAFAFA;
$dark: #212121;

//* Media Queries *\\

//dw < 480px
@mixin for-phone-only { @media (max-width: 479px) { @content; } }

//480px <= dw < 768px
@mixin for-big-phone{ @media (min-width: 480px) and (max-width: 767px){  @content; } }

//dw < 768px
@mixin for-all-phones{ @media (max-width: 767px){ @content; } }

//dw >= 768px
@mixin for-tablet-portrait-up { @media (min-width: 768px) { @content; } }

//dw < 979px
@mixin for-all-portrait-devices { @media (max-width: 979px){ @content; } }

//dw >= 980px
@mixin for-tablet-landscape-up { @media (min-width: 980px) { @content; } }

//dw >= 1200px
@mixin for-desktop-up { @media (min-width: 1200px) { @content; } }

//dw >= 1600px
@mixin for-big-desktop-up { @media (min-width: 1600px) { @content; } }

//dw <= 2400px
@mixin for-very-big{ @media(min-width: 2400px){ @content; } }