<div class="main-container">

  <div class="carousel">
    <span> carousel</span>
  </div>

  <section class="container content">
    <span class="title"> Necesitas: </span>
    <div class="row actions">
      <a class="action" routerLink="/temproute_client">
        Alquilar
        <br> Espacio
      </a>
      <a class="action" routerLink="/temproute_owner">
        Arrendar
        <br> Espacio
      </a>
    </div>

    <span class="title"> Los pasos son simples</span>
    <div class="row steps">
      <div class="step">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="title">Busca</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
      </div>

      <div class="step">
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
        <span class="title">Reserva</span>
        <span class="description">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</span>
      </div>

      <div class="step">
        <i class="fa fa-truck" aria-hidden="true"></i>
        <span class="title">Utiliza</span>
        <span class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad</span>
      </div>
    </div>

    <span class="title"> Estamos En</span>
    <div class="row locations">
      <span class="location">
        <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Panor%C3%A1mica_general_de_Barranquilla.JPG/260px-Panor%C3%A1mica_general_de_Barranquilla.JPG">
        <span class="name">Barranquilla</span>
      </span>

      <span class="location">
        <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Centro-Internacional-Bogot%C3%A1.jpg/250px-Centro-Internacional-Bogot%C3%A1.jpg">
        <span class="name">Bogotá</span>
      </span>

      <span class="location">
        <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Cartagena_skyline%2C_Colombia.jpg/266px-Cartagena_skyline%2C_Colombia.jpg">
        <span class="name">Cartagena</span>
      </span>

      <span class="location">
        <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Vista_desde_san_antonio.JPG/266px-Vista_desde_san_antonio.JPG">
        <span class="name">Cali</span>
      </span>

      <span class="location">
        <img class="city-bg" src="http://files-asia.gbca.org.au/members/companylogo/placeholder-logo.png">
        <span class="name">etc</span>
      </span>

      <span class="location">
        <img class="city-bg" src="http://files-asia.gbca.org.au/members/companylogo/placeholder-logo.png">
        <span class="name">etc</span>
      </span>

      <span class="location">
        <img class="city-bg" src="http://files-asia.gbca.org.au/members/companylogo/placeholder-logo.png">
        <span class="name">etc</span>
      </span>

      <span class="location">
        <img class="city-bg" src="http://files-asia.gbca.org.au/members/companylogo/placeholder-logo.png">
        <span class="name">etc</span>
      </span>
    </div>

    <span class="link">Ver todas...</span>

  </section>

  <div class="carousel logos">
    <span> carousel logos?</span>
  </div>
</div>