<div class="component-wrapper home-wrapper">
  <section class="carousel-section">
    <div class="section-content">
      <ui-carousel [infinite]="true" [fade]="false" [speed]="200">
        <!-- <ui-carousel-item>
          <img [ui-lazy-load]="item.img">
        </ui-carousel-item> -->
        <ui-carousel-item>
          <img [ui-lazy-load]="assets/images/big-caxtor.png">
        </ui-carousel-item>
        <ui-carousel-item>
          <img [ui-lazy-load]="assets/images/big-caxtor.png">
        </ui-carousel-item>
        <ui-carousel-item>
          <img [ui-lazy-load]="assets/images/big-caxtor.png">
        </ui-carousel-item>
      </ui-carousel>
    </div>
  </section>
  <section class="info-section">

    <div class="section-content">
      <h1>Texto de Información</h1>
      <h3>Detalle de Información, Texto de Explicación, Texto del Proceso</h3>

      <button mat-raised-button color="primary">Ver Más</button>
    </div>
  </section>

  <section class="services-section">

    <div class="section-content">
      <article id="first-service">
        <a routerLink="/service1" class="service-link">
          <img src="assets/images/package.png" class="icon">
          <h4>
            Servicio
          </h4>
        </a>
        <p>Explicación del Servicio, Explicación del Servico</p>
      </article>

      <article id="second-service">
        <a routerLink="/service1" class="service-link">
          <img src="assets/images/boxes.png" class="icon">
          <h4>
            Servicio
          </h4>
        </a>
        <p>Explicación del Servicio, Explicación del Servico</p>
      </article>

      <article id="third-service">
        <a routerLink="/service1" class="service-link">
          <img src="assets/images/warehouse.png" class="icon">
          <h4>
            Servicio
          </h4>
        </a>
        <p>Explicación del Servicio, Explicación del Servico</p>
      </article>
    </div>
  </section>

  <section class="section-process">
    <div class="section-title">
      Explicación del Proceso
    </div>
    <div class="section-content">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step>
          <ng-template matStepLabel>Paso 1</ng-template>
          <div class="step-content">
            <i class="fa fa-search" aria-hidden="true"></i>
            <span class="title">Busca</span>
            <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </span>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Paso 2</ng-template>
          <div class="step-content">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            <span class="title">Reserva</span>
            <span class="description">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
              sint
            </span>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Paso 3</ng-template>
          <div class="step-content">
            <i class="fa fa-truck" aria-hidden="true"></i>
            <span class="title">Utiliza</span>
            <span class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
              sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim
              ad
            </span>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </section>

  <section class="section-locations">
    <div class="section-title">
      <span>Estamos En</span>
    </div>
    <div class="section-content">

    </div>
  </section>
  <div class="row locations">
    <span class="location">
      <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Panor%C3%A1mica_general_de_Barranquilla.JPG/260px-Panor%C3%A1mica_general_de_Barranquilla.JPG">
      <span class="name">Barranquilla</span>
    </span>

    <span class="location">
      <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Centro-Internacional-Bogot%C3%A1.jpg/250px-Centro-Internacional-Bogot%C3%A1.jpg">
      <span class="name">Bogotá</span>
    </span>

    <span class="location">
      <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Cartagena_skyline%2C_Colombia.jpg/266px-Cartagena_skyline%2C_Colombia.jpg">
      <span class="name">Cartagena</span>
    </span>

    <span class="location">
      <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Vista_desde_san_antonio.JPG/266px-Vista_desde_san_antonio.JPG">
      <span class="name">Cali</span>
    </span>
  </div>

  <section class="section-about">
    <div class="section-content">
      <nav class="group1">
        <a class="title">Title Link</a>
        <a>Link1</a>
        <a>Link2</a>
        <a>Link3</a>
        <a>Link4</a>
      </nav>
      <nav class="group2">
        <a class="title">Title Link2</a>
        <a>Link1</a>
        <a>Link2</a>
        <a>Link3</a>
      </nav>
      <nav class="group3">
        <a class="title">Title Link3</a>
        <a>Link1</a>
        <a>Link2</a>
        <a>Link3</a>
        <a>Link4</a>
        <a>Link5</a>
      </nav>
      <nav class="contact">
        <a class="title">Contáctanos</a>
        <span>
          <i class="fa fa-mail"></i>
          <span>soporte@caxtor.com</span>
        </span>
        <span>
          <i class="fa fa-phone"></i>
          <span>01-8000-XXXXXX</span>
        </span>
        <span>Caxtor </span>
        <span>Dirección XX-## </span>
        <span>Ciudad, Dpto, ###-##</span>

        <div class="social">
          <a>
            <i class="fa fa-facebook"></i>
          </a>
          <a>
            <i class="fa fa-linked"></i>
          </a>
          <a>
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </nav>
    </div>
  </section>
</div>