@import '~@angular/material/theming';
@mixin home-component-theme($theme) {
  $primary: map-get($map: $theme, $key: primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  .home-wrapper {
    .info-section {
      .section-content {
        color: white;
      }
    }
    .img-shadow-effect,
    .shadow-overlay {
      background: transparentize($color: #000000, $amount: 0.45);
    }
    .services-section {
      article.service {
        border: solid 2px mat-color($foreground, divider);
        color: mat-color($foreground, text);
        &.selected {
          background: mat-color($primary, 800);
          color: white;
          transition: background-color 0.15s ease-in;
        }
      }
      .service-desc {
        .title {
          color: mat-color($primary, 800);
        }
        .desc {
          color: lighten(mat-color($foreground, text), 20);
        }
      }
    }
    .trends-section {
      .bg {
        background: transparentize(mat-color(mat-palette($mat-grey), 100), $amount: 0.15);
      }
      .title {
        .highlight {
          color: mat-color($primary, darker);
        }
      }
      button.mat-stroked-button {
        color: mat-color($primary, darker);
        border: solid 2px mat-color($primary, darker);
      }
    }
    .solutions-section {
      .highlight {
        color: mat-color($primary, darker);
      }
    }
    .reviews-section{
      background: mat-color($primary, darker);
      span{
        color: var(--color-light);
      }
      .reviews-row{
        .thumb{
          img{
            border: solid 2px var(--color-light);
          }
        }
      }
    }
    .warehouses-section{
      .search{
        background: mat-color($primary, 50);
        .title{
          color: var(--color-dark);
        }
      }
    }
  }
  .caxtor-dark-theme.top-footer {
    background: var(--color-dark);
    color: var(--color-light);
    a,
    h2,
    p,
    i {
      color: var(--color-light);
    }
    .social {
      .icon {
        border: solid 1px var(--color-light);
        color: var(--color-light);
      }
    }
  }
}