<div class="component-wrapper home-wrapper">



  <section class="carousel-section">
    <div class="shadow-overlay"></div>
    <div class="section-content">
      <ui-carousel [infinite]="true" [fade]="false" [speed]="4000" [autoPlaySpeed]="12500" [height]="'600px'">
        <!-- <ui-carousel-item>
              <img [ui-lazy-load]="item.img">
            </ui-carousel-item> -->
        <ui-carousel-item>
          <img [ui-lazy-load]="'assets/images/warehouse2.jpg'">
        </ui-carousel-item>
        <ui-carousel-item>
          <img [ui-lazy-load]="'assets/images/warehouse3.jpg'">
        </ui-carousel-item>
        <ui-carousel-item>
          <img [ui-lazy-load]="'assets/images/warehouse4.jpg'">
        </ui-carousel-item>
      </ui-carousel>
    </div>
  </section>

  <section class="services-section">

    <div class="container">

      <div class="services-row">

        <article class="service" id="first-service" (click)="selectedService = 0" [ngClass]="{'selected': selectedService === 0}">
          <img src="assets/images/package.png" class="icon">
          <h4 class="service-title">
            eCommerce Fulfillment
          </h4>
        </article>

        <article class="service" id="second-service" (click)="selectedService = 1" [ngClass]="{'selected': selectedService === 1}">
          <img src="assets/images/boxes.png" class="icon">
          <h4 class="service-title">
            Retail Distribution
          </h4>
        </article>

        <article class="service" id="third-service" (click)="selectedService = 2" [ngClass]="{'selected': selectedService === 2}">
          <img src="assets/images/warehouse.png" class="icon">
          <h4 class="service-title">
            Inventory Overflow
          </h4>
        </article>

        <article class="service" id="third-service" (click)="selectedService = 3" [ngClass]="{'selected': selectedService === 3}">
          <img src="assets/images/warehouse.png" class="icon">
          <h4 class="service-title">
            Delivery
          </h4>
        </article>

      </div>

      <div class="service-desc" *ngIf="selectedService === 0">

        <span class="title">
          <img src="assets/images/package.png">
          <span>eCommerce Fulfillment</span>
        </span>

        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi ligula, consectetur id mollis eget,
          eleifend nec felis. Donec justo justo, faucibus et ligula laoreet, ullamcorper vehicula tortor. Nam eget
          pretium erat. Aenean condimentum, felis sed sollicitudin hendrerit, quam enim auctor enim, at mattis ante
          ligula at tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
          egestas. Duis enim leo, pharetra ut velit id, fermentum molestie est. Praesent commodo nec diam a bibendum.
          Sed dapibus porta velit, eget ultrices mauris ornare ac. Suspendisse aliquam justo id libero varius
          gravida. Morbi eleifend lectus eget sagittis pharetra. Nullam tempus velit ullamcorper dolor viverra
          faucibus. Proin in rutrum diam. Proin eget nisl ullamcorper, cursus metus id, imperdiet elit. Donec.
        </p>

      </div>

      <div class="service-desc" *ngIf="selectedService === 1">

        <span class="title">
          <img src="assets/images/boxes.png">
          <span>Retail Distribution</span>
        </span>

        <p class="desc">
          Donec sed ultricies sapien, quis facilisis velit. Duis magna elit, porta ut suscipit ac, suscipit non nisl.
          Aenean sed sapien mi. Etiam tempus purus id posuere imperdiet. Aliquam dignissim, libero eu ullamcorper
          dictum, dolor massa suscipit lacus, ut commodo neque mi vel ante. Suspendisse commodo molestie elit sit amet
          posuere. Pellentesque vitae ligula efficitur, vulputate justo eu, lobortis dui. Donec vel magna et metus
          lobortis vulputate. Proin rutrum metus maximus elit fermentum, et viverra dui accumsan. Donec placerat metus
          vitae leo vulputate tristique. Nulla neque massa, tristique id viverra sed, tempor sed justo. Maecenas
          hendrerit nulla vel neque dapibus mollis.
        </p>

      </div>

      <div class="service-desc" *ngIf="selectedService === 2">

        <span class="title">
          <img src="assets/images/warehouse.png">
          <span>Inventory Overflow</span>
        </span>

        <p class="desc">
          Phasellus tortor purus, egestas et mollis vitae, placerat vitae orci. Sed venenatis felis sed posuere
          laoreet. Sed tempor lacus euismod porttitor suscipit. Quisque placerat euismod ligula quis viverra. Vivamus
          hendrerit vitae risus sed lobortis. Nunc ut bibendum lacus. Morbi blandit vel lectus ut tempus. In blandit
          massa sit amet lectus bibendum, quis convallis odio pellentesque. Integer lacinia justo ac eros suscipit, vel
          luctus quam posuere. Donec tempor vitae ante id iaculis. Mauris tristique finibus sem, ac vulputate nulla
          porttitor non. Nullam fermentum, velit a mollis rhoncus, orci tellus malesuada velit, sed hendrerit tortor
          ipsum et erat. Donec bibendum tempor bibendum. Ut iaculis feugiat aliquet. Nam placerat accumsan mi, a
          euismod diam sollicitudin hendrerit. Vivamus elit.
        </p>

      </div>

      <div class="service-desc" *ngIf="selectedService === 3">

        <span class="title">
          <img src="assets/images/warehouse.png">
          <span>Delivery</span>
        </span>

        <p class="desc">
          Etiam id ante ex. Pellentesque aliquet sed mauris id accumsan. Suspendisse purus dui, iaculis in tempor in,
          posuere sit amet velit. Aenean ante odio, auctor et mollis pharetra, fringilla vitae urna. Maecenas efficitur
          est at neque aliquet porttitor. Suspendisse eget augue ut orci ullamcorper imperdiet vitae a diam. In hac
          habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus. Vivamus elementum sagittis tortor, dictum pretium eros rhoncus at. Integer lacinia leo a vestibulum
          feugiat. Donec porta consequat libero a rhoncus. Praesent ut molestie nisl, in fermentum ex. Maecenas
          eleifend, tellus vitae volutpat tincidunt, tellus.
        </p>

      </div>

    </div>

  </section>


  <section class="info-section">

    <div class="img-shadow-effect"></div>
    <div class="section-content">

      <h1>Texto de Información</h1>
      <h4>Detalle de Información, Texto de Explicación, Texto del Proceso</h4>

      <button mat-raised-button color="primary">Ver Más...</button>
    </div>
  </section>

  <section class="section-process">
    <div class="container">
      <div class="section-title">
        Explicación del Proceso
      </div>
      <div class="section-content">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step>
            <ng-template matStepLabel>Paso 1</ng-template>
            <div class="step-content">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span class="title">Busca</span>
              <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.
              </span>
            </div>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Paso 2</ng-template>
            <div class="step-content">
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
              <span class="title">Reserva</span>
              <span class="description">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur
                sint
              </span>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Paso 3</ng-template>
            <div class="step-content">
              <i class="fa fa-truck" aria-hidden="true"></i>
              <span class="title">Utiliza</span>
              <span class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut
                enim
                ad
              </span>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </section>

  <!-- <section class="section-locations">
    <div class="section-title">
      <span>Estamos En</span>
    </div>
    <div class="section-content">

      <div class="row locations">
        <span class="location">
          <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Panor%C3%A1mica_general_de_Barranquilla.JPG/260px-Panor%C3%A1mica_general_de_Barranquilla.JPG">
          <span class="name">Barranquilla</span>
        </span>
    
        <span class="location">
          <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Centro-Internacional-Bogot%C3%A1.jpg/250px-Centro-Internacional-Bogot%C3%A1.jpg">
          <span class="name">Bogotá</span>
        </span>
    
        <span class="location">
          <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Cartagena_skyline%2C_Colombia.jpg/266px-Cartagena_skyline%2C_Colombia.jpg">
          <span class="name">Cartagena</span>
        </span>
    
        <span class="location">
          <img class="city-bg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Vista_desde_san_antonio.JPG/266px-Vista_desde_san_antonio.JPG">
          <span class="name">Cali</span>
        </span>
      </div>
    </div>
  </section> -->


  <section class="section-about">
    <div class="container">
      <div class="section-content">
        <nav class="group1">
          <a class="title">Title Link</a>
          <a>Link1</a>
          <a>Link2</a>
          <a>Link3</a>
          <a>Link4</a>
        </nav>
        <nav class="group2">
          <a class="title">Title Link2</a>
          <a>Link1</a>
          <a>Link2</a>
          <a>Link3</a>
        </nav>
        <nav class="group3">
          <a class="title">Title Link3</a>
          <a>Link1</a>
          <a>Link2</a>
          <a>Link3</a>
          <a>Link4</a>
          <a>Link5</a>
        </nav>
        <nav class="contact">
          <a class="title">Contáctanos</a>
          <span>
            <i class="fa fa-mail"></i>
            <span>soporte@caxtor.com</span>
          </span>
          <span>
            <i class="fa fa-phone"></i>
            <span>01-8000-XXXXXX</span>
          </span>
          <span>Caxtor </span>
          <span>Dirección XX-## </span>
          <span>Ciudad, Dpto, ###-##</span>

          <div class="social">
            <a>
              <i class="fa fa-facebook"></i>
            </a>
            <a>
              <i class="fa fa-linked"></i>
            </a>
            <a>
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </section>
</div>