@import './src/scss/variables.scss';
.dialog-warehouse-filters {
  max-width: 1200px;
  width: 1200px;
  font-size: 0.9rem;
  
  mat-dialog-container {
    position: relative;
    .mat-dialog-title {
      display: flex;
      align-items: flex-start;
    }
    .btn-close {
      position: absolute;
      top: 0.25em;
      right: 0.25em;
      font-size: 1em;
      // color: lighten($color: var(--color-dark), $amount: 35);
    }
    .mat-dialog-content {
      &>div {
        margin: 1em 0;
      }
      span{
        font-size: 1em;
        &.title{
          font-size: 1.25em;
          margin-bottom: 0.25em;
        }
      }

      .cb-wrapper{
        display: flex;
        flex-wrap: wrap;

        mat-checkbox{
          flex: 0 0 33%;
          margin: 0.1em 0;
        }
      }
    }
    .mat-dialog-actions {
      justify-content: center;
      button.btn-filter {
        // background: $primary;
        // color: $light;
      }
    }
  }
}