<span mat-dialog-title>Filtrar Bódegas
  <div class="filler no-min"></div>
</span>
<mat-divider></mat-divider>
<button mat-icon-button class="btn-close" [mat-dialog-close]=""><i class="fa fa-times" aria-hidden="true"></i></button>
<div mat-dialog-content>
  <div class="storage">
    <span class="title">Áreas de Almacenamiento: </span>
    <div class="cb-wrapper">
      <mat-checkbox [(ngModel)]="storage[0]">Estantería</mat-checkbox>
      <mat-checkbox [(ngModel)]="storage[1]">Área Piso Cubierta</mat-checkbox>
      <mat-checkbox [(ngModel)]="storage[2]">Área Piso Descubierta</mat-checkbox>
      <!-- <mat-checkbox [(ngModel)]="parameters.storage.refrigerated">Estantería</mat-checkbox>
            <mat-checkbox [(ngModel)]="parameters.storage.dangerous">Estantería</mat-checkbox> -->
    </div>
  </div>

  <div class="products">
    <span class="title">Productos Aceptados: </span>
    <div class="cb-wrapper">
      <mat-checkbox *ngFor="let p of parameters.product" [(ngModel)]="p.checked">{{ p.description }}</mat-checkbox>
    </div>
  </div>

  <div class="security">
    <span class="title">Seguridad: </span>
    <div class="cb-wrapper">
      <mat-checkbox *ngFor="let p of parameters.security" [(ngModel)]="p.checked">{{ p.description }}</mat-checkbox>
    </div>
  </div>

  <div class="certifications">
    <span class="title">Certificaciones: </span>
    <div class="cb-wrapper">
      <mat-checkbox *ngFor="let p of parameters.certifications" [(ngModel)]="p.checked">{{ p.description }}</mat-checkbox>
    </div>
  </div>

  <div class="services">
    <span class="title">Servicios Adicionales: </span>
    <div class="cb-wrapper">
      <mat-checkbox *ngFor="let p of parameters.services" [(ngModel)]="p.checked">{{ p.description }}</mat-checkbox>
    </div>
  </div>


</div>
<div mat-dialog-actions>
  <button class="btn-filter" color="primary" mat-raised-button tabindex="-1" [mat-dialog-close]="{parameters: parameters, storage: storage}">Filtrar Resultados</button>
</div>